body {
    /***
      ADD YOUR CUSTOM STYLIING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
    --background-primary: rgb(30, 30, 30) !important;
    --background-secondary: rgb(38, 38, 38) !important;
    --background-highlight: rgb(54, 54, 54) !important;

    .tag {
      color: var(--link-color);
    }

    .navTitle {
      color: var(--text-normal);;
    }

    .filename {
      color: var(--text-normal);;
    }

    // notelink 
    .notelink.active-note {
      a {
          color: var(--text-normal);
      }
  
      color: var(--text-normal);
      background-color: var(--background-highlight);
      transform: unset;
      border-radius: 8px;
  }
}